# Скомпилированные файлы Python
*.pyc
__pycache__/

# Файлы виртуального окружения (если используется venv)
venv/
.env

# Личные данные приложения
movies.json

# Файлы ОС
.DS_Store
Thumbs.db